# Environnement virtuel
venv/

# Fichiers compilés de Python
__pycache__/
*.pyc

# Données brutes
data/FashionMNIST/
data/cifar-10-batches-py/
data/cifar-10-python.tar.gz

# Fichiers générés
results/
outputs/

# Fichiers temporaires ou locaux
*.log
*.tmp